<a href="https://colab.research.google.com/github/DHANYAVARSHINI/Bootstrap_website/blob/master/Append%2CConcat%2CMerge%2CJoins.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

In [ ]:
#importing Pandas
import pandas as pd

In [55]:
#Creating Dataset 1
df1= pd.DataFrame({'Fruits':['Apple','Mango','Gova','Grapes'],
                   'Cost':[80,70,50,30],
                   'Discount':[2,5,1,3]});
print(df1);

   Fruits  Cost  Discount
0   Apple    80         2
1   Mango    70         5
2    Gova    50         1
3  Grapes    30         3

In [58]:
#Creating Dataset 2
df2=pd.DataFrame({'Fruits':['Orange','Pineapple','Cherry','Apple'],
                   'Cost':[40,55,45,75],
                   'Quantity':['3kg','2kg','5kg','1kg']});
print(df2);

      Fruits  Cost Quantity
0     Orange    40      3kg
1  Pineapple    55      2kg
2     Cherry    45      5kg
3      Apple    75      1kg

In [59]:
#Appending Dataframes
df1.append(df2, ignore_index=True)

<ipython-input-59-303bd28ca8bb>:2: FutureWarning: The frame.append method is deprecated and will be removed from pandas in a future version. Use pandas.concat instead.
  df1.append(df2, ignore_index=True)

      Fruits  Cost  Discount Quantity
0      Apple    80       2.0      NaN
1      Mango    70       5.0      NaN
2       Gova    50       1.0      NaN
3     Grapes    30       3.0      NaN
4     Orange    40       NaN      3kg
5  Pineapple    55       NaN      2kg
6     Cherry    45       NaN      5kg
7      Apple    75       NaN      1kg

In [60]:
#Concatenating Dataframes
print(pd.concat([df1,df2], axis=1))

   Fruits  Cost  Discount     Fruits  Cost Quantity
0   Apple    80         2     Orange    40      3kg
1   Mango    70         5  Pineapple    55      2kg
2    Gova    50         1     Cherry    45      5kg
3  Grapes    30         3      Apple    75      1kg

In [61]:
#Merging Dataframes


#Merging Dataframes left
df3=pd.merge(df1,df2,on='Fruits',how='left')
print(df3)
print("\n")

#Merging Dataframes right
df3=pd.merge(df1,df2,on='Fruits',how='right')
print(df3)

   Fruits  Cost_x  Discount  Cost_y Quantity
0   Apple      80         2    75.0      1kg
1   Mango      70         5     NaN      NaN
2    Gova      50         1     NaN      NaN
3  Grapes      30         3     NaN      NaN


      Fruits  Cost_x  Discount  Cost_y Quantity
0     Orange     NaN       NaN      40      3kg
1  Pineapple     NaN       NaN      55      2kg
2     Cherry     NaN       NaN      45      5kg
3      Apple    80.0       2.0      75      1kg

In [71]:
#Joining Dataframes


#Inner Join
df3=pd.merge(df1, df2, on='Fruits', how='inner')
print(df3)
print("\n")

#Left Outer Join
df4=pd.merge(df1, df2, on='Fruits', how='left')
print(df4)
print("\n")

#Right Outer Join
df5=pd.merge(df1, df2, on='Fruits', how='right')
print(df5)
print("\n")

#Full Outer Join
df6=pd.merge(df1, df2, on='Fruits', how='outer')
print(df6)
print("\n")

  Fruits  Cost_x  Discount  Cost_y Quantity
0  Apple      80         2      75      1kg


   Fruits  Cost_x  Discount  Cost_y Quantity
0   Apple      80         2    75.0      1kg
1   Mango      70         5     NaN      NaN
2    Gova      50         1     NaN      NaN
3  Grapes      30         3     NaN      NaN


      Fruits  Cost_x  Discount  Cost_y Quantity
0     Orange     NaN       NaN      40      3kg
1  Pineapple     NaN       NaN      55      2kg
2     Cherry     NaN       NaN      45      5kg
3      Apple    80.0       2.0      75      1kg


      Fruits  Cost_x  Discount  Cost_y Quantity
0      Apple    80.0       2.0    75.0      1kg
1      Mango    70.0       5.0     NaN      NaN
2       Gova    50.0       1.0     NaN      NaN
3     Grapes    30.0       3.0     NaN      NaN
4     Orange     NaN       NaN    40.0      3kg
5  Pineapple     NaN       NaN    55.0      2kg
6     Cherry     NaN       NaN    45.0      5kg